* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #000;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  margin: 10rem 0;
  padding: 0 2rem;
  display: flex;
  gap: 5rem;
}

.payment-method {
  flex: 1;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.back {
  padding-left: 5rem;
  margin-bottom: 2.5rem;
  font-size: 2rem;
}

.payment-method h2 {
  width: max-content;
  background-color: #000;
  color: #fff;
  padding: 0.8rem 1.6rem;
  border-radius: 1rem;
}

.payment-method form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.methods {
  align-self: center;
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.methods input {
  margin-right: 1rem;
  height: 2rem;
  width: 2rem;
}

.method {
  display: flex;
  align-items: center;
}

.payment-method label {
  font-size: 1.8rem;
}

.payment-method .line {
  align-self: center;
  width: 95%;
  padding: 0.5rem;
  background-color: #000;
  margin: 2.5rem 0;
}

.payment-method .row2 {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.payment-method .row2 input {
  width: 20rem;
  border-radius: 0.5rem;
}

.payment-method .button {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  align-self: center;
  font-size: 1.5rem;
  border: none;
  color: #fff;
  background-color: #191919;
  border-radius: 0.3rem;
  color: #ffffff;
  width: 50%;
}

.arrival-date p {
  font-size: 2rem;
  margin-top: 0.5rem;
}

.button:hover {
  cursor: pointer;
  background-color: #ce5a67;
  color: #ffffff;
}

.check-out {
  width: 30%;
}

.black {
  height: 100%;
  background-color: black;
  border-radius: 0.5rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cream {
  width: 100%;
  max-height: 40rem;
  background-color: #fcf5ed;
  padding: 1.5rem;
  overflow: auto;
}

.cart-products {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart-product {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.cart-product img {
  height: 100px;
  width: 100px;
}

.product-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-subtotal {
  color: #ce5a67;
}

hr {
  border: 1px solid #f4bf96;
  opacity: 80%;
}

.check-out .line {
  align-self: center;
  width: 100%;
  padding: 0.2rem;
  background-color: #000;
  margin: 2.5rem 0;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top p {
  font-size: 1.5rem;
  font-weight: bold;
}

.total {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.order {
  margin: 1rem auto;
  font-size: 1.5rem;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  background-color: #ce5a67;
  color: #ffffff;
  transition: 0.2s;
  border: none;
}
.order:hover {
  cursor: pointer;
  background-color: #f4bf96;
  color: #191919;
}
