* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.admin {
  display: flex;
  align-items: center;
}
.admin-container {
  width: 75%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.admin-container span {
  align-self: center;
  font-size: 5rem;
  font-weight: bold;
  font-family: "poppins", sans-serif;
}
.admin-title {
  font-size: 4.6rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.first-row-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.second-row-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.rows {
  border-radius: 1.5rem;
  background-color: black;
  color: #ffffff;
  width: 50%;
  padding: 5rem;
}
.rows i {
  color: #ffffff;
  font-size: 4rem;
}
.rows p {
  font-size: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.rows h1 {
  font-size: 4rem;
}

.rows-content {
  display: flex;
  align-items: center;
  gap: 2rem;
}
