* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url("../assets/imgs/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.form-container {
  width: max-content;
  margin-top: 15vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
.form {
  align-self: center;
  width: max-content;
  background-color: #f4bf96;
  box-shadow: rgba(154, 148, 148, 0.25) 0px 14px 28px,
    rgba(100, 98, 98, 0.22) 0px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  border-radius: 0.5rem;
  gap: 0.5rem;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.title h1 {
  padding-top: 2rem;
  color: #ffffff;
  font-family: "poppins", sans-serif;
  font-weight: bold;
  text-shadow: 3px 3px 3px rgb(103, 102, 102);
}

h1 {
  color: #ffffff;
  font-size: 5rem;
  text-align: center;
  margin-bottom: 2rem;
}
.form-input {
  width: 370px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-input input {
  border: none;
  padding: 0.6rem 1rem;
  margin: 0.3rem 0;
  border-radius: 0.2rem;
  width: 260px;
}
.form-input label {
  max-width: 25%;
  color: #000000;
  font-size: 1.2rem;
}
.save-btn {
  background-color: #ce5a67;
  color: #ffffff;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
  padding: 0.8rem 1rem;
  border-radius: 0.2rem;
  border: none;
  width: 370px;
  transition: 0.2s;
  cursor: pointer;
}

.save-btn:hover {
  color: #000000;
  background-color: #fcf5ed;
}

.save-btn span {
  color: #ffffff;
  font-size: 0.9rem;
  margin-top: 0.3rem;
  margin-right: 15rem;
  transition: 0.1s;
}
.save-btn span:hover {
  color: #ce5a67;
  cursor: pointer;
}
.forgot-pass-text {
  align-self: self-start;
}
p {
  color: #000000;
  font-family: "poppins", sans-serif;
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 500;
}
p a {
  color: #ce5a67;
  cursor: pointer;
}

.back {
  position: absolute;
  top: 5%;
  left: 5%;
  max-width: max-content;
}
.back i {
  color: #ffffff;
  font-size: 2rem;
  transition: 0.2s;
}
.back span {
  color: #ffffff;
  font-size: 1.7rem;
  font-family: "poppins", sans-serif;
}
.back i:hover {
  cursor: pointer;
  color: #ce5a67;
}
