.header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 6rem;
  background-color: #000000;
  padding: 2rem 2.5rem;
  transition: all ease-in-out 3ms;
  z-index: 1000;
}

.header a {
  text-decoration: none;
  color: black;
}

.logo-and-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.logo-and-title img {
  width: 75px;
  height: 75px;
}

.logo-and-title span {
  font-size: 4.7rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
  letter-spacing: 0.2rem;
  color: #ffffff;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 1rem;
}

.search-bar {
  width: 75%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.search-bar form {
  position: relative;
  top: -1rem;
  width: 100%;
}

.search-bar i {
  position: relative;
  top: 2.5rem;
  left: 1rem;
  font-size: 2rem;
  color: #000000;
}

.search-bar input {
  width: 100%;
  padding: 0.5rem 2.5rem 0.5rem 4rem;
  border: none;
  border-radius: 3rem;
  font-size: 1.5rem;
  outline: none;
}

.search-results {
  position: absolute;
  top: 5rem;
  display: none;
  align-self: end;
  width: 95%;
  max-height: 20rem;
  overflow-y: auto;
  background-color: #fcf5ed;
  border: 1px solid #f4bf96;
  border-radius: 2rem;
}

.searched-product {
  padding: 1rem;
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.searched-product:hover {
  background-color: #ce5a67;
  color: #ffffff;
}

.searched-product img {
  height: 75px;
  width: 75px;
}

div::-webkit-scrollbar {
  width: 1rem;
}

div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
}

div::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #000;
}

.search-bar input[type="search"]::-webkit-search-cancel-button {
  appearance: none;
  width: 25px;
  height: 25px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXgiPjxwYXRoIGQ9Ik0xOCA2IDYgMTgiLz48cGF0aCBkPSJtNiA2IDEyIDEyIi8+PC9zdmc+");
}

.add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.add-to-cart .cart-count {
  font-size: 1.3rem;
  color: #ffffff;
  font-weight: bold;
}
.add-to-cart i {
  font-size: 2rem;
  color: #ffffff;
}

.add-to-cart i:hover {
  color: #f4bf96;
}

.login-and-signup {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 20rem;
}
.login-and-signup p {
  color: #ffffff;
  font-size: 1.3rem;
  transition: 0.2s;
}
.login-and-signup p:hover {
  color: #ce5a67;
}
.login-and-signup a {
  text-decoration: none;
}
.login-and-signup .line {
  background-color: #ffffff;
  width: 0.1rem;
  height: 1.3rem;
}

.profile-and-logout {
  display: none;
  align-items: center;
  justify-content: space-evenly;
  width: 20rem;
}
.profile-and-logout p {
  color: #ffffff;
  font-size: 1.3rem;
  transition: 0.2s;
}
.profile-and-logout p:hover {
  color: #ce5a67;
}
.profile-and-logout a {
  text-decoration: none;
}
.profile-and-logout .line {
  background-color: #ffffff;
  width: 0.1rem;
  height: 1.3rem;
}
