* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content {
  margin-top: 8rem;
  margin-bottom: 10rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-top: 0.5rem;
  background-color: #191919;
}
.header-contents {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 11vh;
}
.logo-and-title {
  position: relative;
  right: 2%;
}
.logo-and-title img {
  position: relative;
  top: 0.3rem;
  width: 85px;
  height: 85px;
}
.logo-and-title span {
  position: relative;
  left: 1rem;
  bottom: 0.8rem;
  font-size: 4.7rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bolder;
  letter-spacing: 0.2rem;
  color: #ffffff;
}
.search-bar {
  position: relative;
  right: 2%;
  margin-left: 0.4rem;
}
.search-bar i {
  position: relative;
  top: 0.3rem;
  left: 3rem;
  font-size: 2rem;
  color: #000000;
}
.search-bar input {
  width: 60rem;
  height: 2.7rem;
  border: none;
  border-radius: 3rem;
}
.search-bar input[type="search"] {
  padding-left: 3.5rem;
  font-size: 1.5rem;
}
.add-to-cart {
  position: relative;
  bottom: 0.3rem;
  right: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.add-to-cart .cart-count {
  font-size: 1.3rem;
  color: #ffffff;
  font-weight: bold;
}
.add-to-cart i {
  font-size: 2rem;
  color: #f4bf96;
}
.login-and-signup {
  position: relative;
  left: 5rem;
  bottom: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 20rem;
}
.login-and-signup p {
  color: #ffffff;
  font-size: 1.3rem;
  transition: 0.2s;
}
.login-and-signup p:hover {
  color: #ce5a67;
}
.login-and-signup a {
  text-decoration: none;
}
.login-and-signup .line {
  background-color: #ffffff;
  width: 0.1rem;
  height: 1.3rem;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60vh;
  text-align: center;
}
.hero-text h1 {
  font-size: 11rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.hero-text h2 {
  font-size: 3rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.hero-text h3 {
  font-size: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.hero-img img {
  height: 40vh;
  width: 35vw;
}
.popular-products {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  height: 30vh;
}
.product-title {
  padding-left: 2rem;
  font-size: 2.4rem;
}
.product-title hr {
  border: 1px solid #000000;
  border-radius: 1rem;
  width: 16rem;
}
.products-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
  width: 100%;
  height: fit-content;
  background-color: #000000;
  padding: 2.5rem;
}
.product {
  height: 300px;
  width: 300px;
  border-radius: 1rem;
}
.event {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70vh;
  margin-top: 20rem;
  background-color: #fcf5ed;
}
.event-title {
  padding: 2rem;
}
.event-title h1 {
  text-align: center;
  font-size: 3rem;
}
.event-title .event-sub-text {
  text-align: center;
  font-size: 2rem;
}
.event-promo {
  height: 450px;
  width: 450px;
  border-radius: 1rem;
}
.event-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
}
.trending {
  width: 100%;
  height: 120vh;
  margin-top: 10rem;
}
.trending-title {
  padding-left: 2rem;
  font-size: 2.4rem;
}
.trending-title hr {
  border: 1px solid #000000;
  border-radius: 1rem;
  width: 10rem;
}
.trending-image {
  margin: 3rem auto 0 auto;
  height: 85vh;
  width: 95vw;
  background-color: aqua;
}
.trending-image img {
  height: 85vh;
  width: 95vw;
  object-fit: cover;
}
.trending-details {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.trending-caption {
  font-size: 5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.description {
  font-size: 1.8rem;
  text-align: center;
}
.trending-details button {
  margin-top: 1.6rem;
  background-color: #000000;
  font-size: 1.3rem;
  color: #ffffff;
  padding: 0.6rem;
  width: 10rem;
  border-radius: 15rem;
  border: none;
}
.services {
  width: 100%;
  height: 90vh;
  margin-top: 10rem;
}
.services-title {
  padding-left: 2rem;
  font-size: 2.4rem;
}
.services-title hr {
  border: 1px solid #000000;
  border-radius: 1rem;
  width: 10rem;
}
.services-details {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
  gap: 3.5rem;
}
.service {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 85vh;
  margin-top: 6rem;
}
.service i {
  font-size: 10rem;
}
.service span {
  margin-top: 1rem;
  font-size: 2.4rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.service p {
  margin-top: 1rem;
  font-size: 1.4rem;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 35rem;
}
.contacts {
  width: 100%;
  height: 15vh;
}
.contact-title {
  width: 100%;
  text-align: center;
}
.contact-title span {
  font-size: 4rem;
}
.contact-description {
  max-width: 30rem;
  font-size: 1.2rem;
  margin: auto;
}
.soc-meds {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 5vh;
}
.soc-meds i {
  margin-top: 1rem;
  font-size: 2.4rem;
}
footer {
  margin-top: 2.5rem;
  width: 100%;
  height: 30vh;
  background-color: #191919;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.information {
  color: #ffffff;
  max-width: 20rem;
}
.information span {
  font-size: 2rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.information p {
  font-size: 0.8rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.professionals-gmail {
  display: flex;
  align-items: self-start;
  justify-content: center;
  flex-direction: column;
}
.gmails {
  font-size: 0.8rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.gmails i {
  color: #ffffff;
}
.footer-navigation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.left-content {
  margin-top: 7.6rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  color: #ffffff;
  font-size: 0.8rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.right-content {
  margin-top: 7.6rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: 0.8rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.gray-text {
  color: #a6a6a6;
}
