* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
.content {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.popular-products {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}
.product-title {
  padding-left: 2rem;
  font-size: 2.4rem;
}
.product-title hr {
  border: 1px solid #000000;
  border-radius: 1rem;
  width: 16rem;
}
.products-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
  width: 100%;
  height: fit-content;
  background-color: #000000;
  padding: 2.5rem;
}
.product {
  height: 300px;
  width: 300px;
  border-radius: 1rem;
}
.event {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  background-color: #fcf5ed;
  padding: 2rem 0;
}

.event-title h1 {
  text-align: center;
  font-size: 3rem;
}
.event-title .event-sub-text {
  text-align: center;
  font-size: 2rem;
}
.event-promo {
  height: 450px;
  width: 450px;
  border-radius: 1rem;
}
.event-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
}
.trending {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.trending-title {
  align-self: flex-start;
  padding-left: 2rem;
  font-size: 2.4rem;
}
.trending-title hr {
  border: 1px solid #000000;
  border-radius: 1rem;
  width: 10rem;
}
.trending-image {
  height: 50%;
  width: 90%;
}
.trending-image img {
  width: 100%;
}
.trending-details {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.trending-caption {
  font-size: 5rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.trending button:hover {
  opacity: 50%;
}

.description {
  font-size: 1.8rem;
  text-align: center;
}
.trending-details button {
  margin-top: 1.6rem;
  background-color: #000000;
  font-size: 1.3rem;
  color: #ffffff;
  padding: 0.6rem;
  width: 10rem;
  border-radius: 15rem;
  border: none;
}
.services {
  width: 100%;
}
.services-title {
  padding-left: 2rem;
  font-size: 2.4rem;
}
.services-title hr {
  border: 1px solid #000000;
  border-radius: 1rem;
  width: 10rem;
}
.services-details {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 3.5rem;
}
.service {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 6rem;
}
.service i {
  font-size: 10rem;
}
.service span {
  margin-top: 1rem;
  font-size: 2.4rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.service p {
  margin-top: 1rem;
  font-size: 1.4rem;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 35rem;
}
.contacts {
  width: 100%;
}
.contact-title {
  width: 100%;
  text-align: center;
}
.contact-title span {
  font-size: 4rem;
}
.contact-description {
  max-width: 30rem;
  font-size: 1.2rem;
  margin: auto;
}
.soc-meds {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.soc-meds i {
  margin-top: 1rem;
  font-size: 2.4rem;
}
