* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.form-container {
  width: max-content;
  margin-top: 15vh;
  margin-left: auto;
  margin-right: auto;
}
.form {
  background-color: #1f1717;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  border-radius: 0.5rem;
  gap: 0.5rem;
}

h1 {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.form-input {
  width: 370px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-input input {
  border: none;
  padding: 0.6rem 1rem;
  margin: 0.3rem 0;
  border-radius: 0.2rem;
  width: 260px;
}
.form-input label {
  color: #ffffff;
  font-weight: bold;
}

.login-btn {
  background-color: #fcf5ed;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
  padding: 0.8rem 1rem;
  border-radius: 0.2rem;
  border: none;
  width: 370px;
  transition: 0.2s;
  cursor: pointer;
}

.login-btn:hover {
  color: #ffffff;
  background-color: #ce5a67;
}

span {
  color: #ffffff;
  font-size: 0.9rem;
  margin-top: 0.3rem;
  margin-right: 15rem;
  transition: 0.1s;
}
span:hover {
  color: #ce5a67;
  cursor: pointer;
}
p {
  color: #ffffff;
  margin-top: 2rem;
  font-size: 1rem;
}
p a {
  color: #ce5a67;
  cursor: pointer;
}
