* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  background-image: url("../assets/imgs/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.form-container {
  width: max-content;
  margin-top: 12vh;
  margin-left: auto;
  margin-right: auto;
}
.form {
  background-color: #f4bf96;
  box-shadow: rgba(154, 148, 148, 0.25) 0px 14px 28px,
    rgba(100, 98, 98, 0.22) 0px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  border-radius: 0.5rem;
  gap: 0.5rem;
}

h1 {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.form-input {
  width: 370px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-input input {
  border: none;
  padding: 0.6rem 1rem;
  margin: 0.3rem 0;
  border-radius: 0.2rem;
}

.form-input label {
  color: #000000;
  font-size: 1.2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.submit-btn {
  background-color: #ce5a67;
  color: #ffffff;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
  padding: 0.8rem 1rem;
  border-radius: 0.2rem;
  border: none;
  width: 370px;
  transition: 0.2s;
  cursor: pointer;
}

.submit-btn:hover {
  color: #000000;
  background-color: #fcf5ed;
}
.have-account {
  color: #000000;
  margin-top: 0.6rem;
  font-size: 1rem;
}

.have-account a {
  color: #ce5a67;
  cursor: pointer;
}
.row-title-and-exit {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.row-title-and-exit h1 {
  padding-top: 2rem;
  color: #ffffff;
  font-family: "poppins", sans-serif;
  font-weight: bold;
  text-shadow: 3px 3px 3px rgb(103, 102, 102);
}
.back {
  position: absolute;
  top: 5%;
  left: 5%;
  max-width: max-content;
}
.back i {
  color: #ffffff;
  font-size: 2rem;
  transition: 0.2s;
}
.back span {
  color: #ffffff;
  font-size: 1.7rem;
  font-family: "poppins", sans-serif;
}
.back i:hover {
  cursor: pointer;
  color: #ce5a67;
}
