* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  background-image: url("../assets/imgs/wave-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.title {
  color: #ffffff;
  font-size: 2rem;
}
.seller-container {
  display: flex;
}

.back {
  font-size: 2rem;
}

.back a {
  color: #ffffff;
  text-decoration: none;
}

.form-container {
  background-color: #191919;
  padding: 2rem;
  margin: 2rem;
  width: 75%;
  height: 40%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 0.5rem;
}

.form-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.data {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.labels {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.labels label {
  color: #ffffff;
  font-size: 1.5rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.inputs input {
  font-size: 1rem;
  width: 30rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
}
.inputs input[type="file"] {
  color: #ffffff;
}
#change-info {
  align-self: center;
  width: 15rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  transition: 0.2s;
  background-color: #fcf5ed;
}
#change-info:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #ce5a67;
}
#change-pass {
  align-self: center;
  width: 15rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  transition: 0.2s;
  background-color: #fcf5ed;
}
#change-pass:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #ce5a67;
}
