* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: #000;
}

.terms-of-use-container {
  max-width: 80%;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f8f8f8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.back a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
}
.back {
  margin-bottom: 2rem;
}

h1 {
  text-align: center;
  font-size: 2.4rem;
  color: #333;
}

p,
li {
  color: #555;
  line-height: 1.6;
}

ul,
ol {
  margin-top: 1.4rem;
}

.back i {
  margin-right: 0.6rem;
}
